<footer class="page-footer font-small teal pt-4 blue footer" id ="footer">
    <div class="col-md-6 clearfix">
        <img class="footer-image" src="img/brand.jpg" align="right" 
            style="margin-top: -12px;width:auto; height:82px; text-align:right;"/>
    </div>

    <div class="col-md-6" style="float:right; padding-right: 50px; text-align:left">
        <div class="brand" style="color:white">
            <a href="/">S T O N I E</a>
        </div>
        <div>© 2018 Copyright</div>
    </div>

</footer>
